/* Estilos para el cuerpo del documento */
a {
    color: inherit;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

/* Estilos para el encabezado */
header {
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 5px 0;
    font-size: 18px;
}

header img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Estilos para el contenido principal */
main {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
}

main h2 {
    font-size: 24px;
    margin-top: 0;
}

main h3 {
    font-size: 18px;
    margin-top: 20px;
}

main p {
    font-size: 16px;
    line-height: 1.5;
}

main ul {
    margin: 20;
    padding: 0;
    list-style-type: circle;
}

main li {
    margin-bottom: 10px;
}

/* Estilos para la lista de habilidades */
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.skill-item {
    background-color: #EFEFEF;
    border-radius: 20px;
    color: #444444;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: center;
    width: calc(33.33% - 10px);
}

/* Estilos para los enlaces */

a:hover {
    text-decoration: underline;
}
